polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks.filesystem-mount" &&
        subject.isInGroup("storage")) {
        return polkit.Result.YES;
    }
});
